/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Lora';
  font-size: 5vh;
  padding-top: 1vh;
  color: white;
  margin-left: 22px;
}

.page {
  height: 100vh;
  background-image: url('westcoast.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 2vw;
  padding-right: 2vw;
  overflow-y: scroll;
}

.flight-summary {
  background-color: white;
  width: min(350px, 61vw);
  height: fit-content;
  padding: 4vh;
  border-radius: 5px;
  font-size: 2.5vh;
  margin-bottom: auto;
}

.flight-info {
  border: solid rgb(113, 113, 113) 1px;
  border-radius: 4px;
  padding: 1vw;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.flash {
  color: green;
  text-align: center;
  font-weight: bold;
  font-size: 3vh;
  margin-top: 0.5vh;
}