
.bookings {
  display: flex;
  padding-top: 5vh;
  padding-bottom: 3vh;
  gap: 3vw;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.bookings .form {
  background-color: white;
  width: min(500px, 50vw);
  height: fit-content;
  max-height: 75vh;
  padding: 3vh;
  border-radius: 5px;
  font-size: 3vh;
  overflow-y: scroll;
}

.bookings .flight {
  background-color: white;
  width: fit-content;
  height: fit-content;
  padding: 4vh;
  border-radius: 5px;
  font-size: 2.5vh;
}

.bookings h4 {
  margin-top: 2vh;
}

.bookings input, .bookings .input {
  width: 95%;
  height: 6vh;
  font-size: 2.5vh;
  margin-top: 2vh;
  padding-left: 2vh;
}

.bookings .input {
  height: 4vh;
  font-size: 3vh;
  padding-left: 0;
  padding-right: 2vh;
}

.bookings .button {
  width: 100%;
}