
.charges {
  display: flex;
  padding-top: 10vh;
  gap: 5vw;
  justify-content: center;
}

.charges form {
  height: 15vh;
  width: min(430px, 43vw);
  border-radius: 5px;
  padding: 3vh;
  font-size: 2vw;
  background-color: white;
}