@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Oswald:wght@300&display=swap');

.flights select {
  height: 5vh;
  background-color: white;
  font-size: 3vh;
}

.flights .flight, .flights .time {
  background-color: white;
}

.flights .flight {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid rgb(137, 137, 137) 1px;
  height: 7vh;
}

.flights .time, .flights .date, .flights .codes, .flights .price {
  font-size: min(2.9vw,2.9vh);
}

.flights .price {
  color: green;
  font-weight: bold;
}

.flights .forms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10vh;
  gap: 15px;
}

.flights h1 {
  margin-left: 22px;
}

.flights .form {
  width: min(522px, 58vw);
  height: 50vh;
  background-color: rgb(255, 255, 255);
  padding: 3vh;
  border-radius: 4px;
}

.flights .flights-form {
  width: min(522px, 65vw);
  height: fit-content;
  padding: 3vh;
  border-radius: 4px;
}

.flights .choice {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  padding-bottom: 1vh;
}

.flights .search-button, .button {
  background-color: rgb(42, 42, 167);
  color: white;
  border: none;
  height: 5vh;
  width: 100%;
  border-radius: 3px;
}

